<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h1>Simple Calculator</h1>

    {% if error %}
        <h2 style="color:red;">{{ error }}</h2>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="Num1">Enter number 1: </label>
        <input type="text" name="Num1" placeholder="Num1" required>
        <br><br>

        <label for="Num2">Enter number 2: </label>
        <input type="text" name="Num2" placeholder="Num2" required>
        <br><br>

        <label for="op">Operation (add, subtract, multiply, divide): </label>
        <input type="text" name="op" placeholder="Operation" required>
        <br><br>

        <button type="submit">Calculate</button>
    </form>

    {% if result is not None %}
        <h2>The result is: {{ result }}</h2>
    {% endif %}
</body>
</html>
  